<div class='row'>
    <div *ngIf="message !== ''" class = "alert alert-danger" role = "alert">
        {{message}}
    </div>
    <h3>Create a New Post</h3>
    <div class = "form-group" id = 'new-post'>
        <input name="title" [(ngModel)]="newPost.title" type="text" class="form-control new-post" id="title" placeholder="Title of Post">
        <textarea name="content" [(ngModel)]="newPost.content" class="form-control new-post" rows="15" cols="50"></textarea>
        <input name="image" [(ngModel)]="newPost.headerImage" type="text" class="form-control new-post" id="image" placeholder="Image">
        <button class='btn btn-success' (click)="CreatePost()">Create</button>
        <button class='btn btn-danger' [routerLink]="['/home']">Cancel</button>
    </div>
</div>